<% layout('layout') -%>

<div class="row">
	<div class="large-12 columns">
		<div class="panel">
			<h3> <a href='/database/<%= databaseName  %>' ><span class="icon-database"></span> <%= databaseName  %> </a> /<%= collectionName %></h3>
			
			<!-- Database info table -->
			<div class="fluid-table">
				<div class="row table-header">
					<div class="large-12">
						Collection Info
					</div>
				</div>
				
				<div class="row system-row">
					<div class="large-6 small-6 columns system-label">
						<div>
							Namespace
						</div>
					</div>
					<div class="large-6 small-6 columns system-value">
						<div>
							ffg
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>