<% layout('layout') -%>

<div class="row">
	<div class="large-12 columns">
		<div class="panel">
			<h3> 
				<span class="icon-database"></span> Create New Database
			
			</h3>
			
			<form id="create-database-form" method="post" action="/create-database">
				<label>Enter Database Name </label>
				<input type="text" value="" class="required" name= "database" />
				
				<button class="button small"> Submit </button>

			</form>
			
		</div>

	</div>

</div>