<% layout('layout') -%>

<div class="row">
	<div class="large-12 columns">
		<div class="panel">
			<h3> <%= title  %> </h3>
			
			<h4>
	   			There was a problem performing this operation.
			</h4>
		</div>

	</div>

</div>