<% layout('layout') -%>

<div class="row">
	<div class="large-12 columns">
		<div class="panel">
			<h3> <a href='/database/<%= databaseName  %>' ><span class="icon-database"></span> <%= databaseName  %> </a> Export Result</h3>
			<h5> Exported collections </h5>
		</div>

	</div>

</div>

